{% extends 'layouts/base.html' %}  {% block title %}
Profile {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% if messages %} {% for message in messages %}
<div class="alert alert-info">
  <strong>{{message}}</strong>
</div>
{% endfor %} {% endif %}
{% load crispy_forms_tags %}
<center class="row text-lg-center">
  <h1><i>TODO Items</i></h1>
  <hr />
</center>

        {% for form in forms %}
        <div class="myForm">
          <form method='POST' action=''>{% csrf_token %}
            <table class='table align-items-center mb-0'>
              <tbody>
                <td>
                  {{ form.bound_form.title|as_crispy_field }}
                </td>
                <td>
                  {{ form.bound_form.status|as_crispy_field }}
                </td>
                <td>
                  {{ form.bound_form.description|as_crispy_field }}
                </td>
                <td>
                  {{ form.bound_form.due_date|as_crispy_field }}
                </td>
              </tbody>
              <!-- <input type="submit" value='Submit'/>   -->
            </table>
            <button type="submit" class="btn btn-primary">Update</button>
            </form>
            </div>

          {% endfor%}



    <div class="myForm">
      <form method='POST' action=''>{% csrf_token %}
        <table class='table align-items-center mb-0'>
          <tbody>
            <td>
              {{ create_form.title|as_crispy_field }}
            </td>
            <td>
              {{ create_form.status|as_crispy_field }}
            </td>
            <td>
              {{ create_form.description|as_crispy_field }}
            </td>
            <td>
              {{ create_form.due_date|as_crispy_field }}
            </td>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Create</button>
  </form>
    </div>
  </div>
</div>

{% include "includes/footer.html" %} {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
