{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load crispy_forms_tags %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <center class="row">
    <h1><i>TODO Items</i></h1>
    <hr />
  </center>
  <div class="row">
    <div class="col-md-8">
      {% for form in forms %}
        {{ form|crispy}}
        {% csrf_token %}
        <form action="/del/" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
          <button value="remove" type="submit"  class="btn btn-primary" style="float: right;"><span class="glyphicon glyphicon-trash"></span> &nbsp; remove</button>
        </form>
      {% endfor%}
    </div>
</div>


      {% include "includes/footer.html" %}



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
