{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load crispy_forms_tags %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <center class="row text-lg-center">
    <h1><i>TODO Lists</i></h1>
    <hr />
  </center>
  <div class="row">
    <div class="text-lg-center">
      {% for form in forms %}
      <form method="post">
        {% csrf_token %}
        {{ form.bound_form|crispy}}
        <input type="submit" value="Create" class='btn btn-default'>
        <a href="{% url 'delete_todo_list' id=id todolist_id=form.id %}" value="Delete" class='btn btn-default btn-danger'>Delete</a>
      </form>
      {% endfor%}
    </div>
</div>


      {% include "includes/footer.html" %}



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
